
  
  
  
  
  
  
  
  
  
  
  
  
  /* Bootstrap css */
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";

/* Google Material icons */
@import "http://fonts.googleapis.com/icon?family=Material+Icons";

/* Propeller css */
@import "dist/css/propeller.min.css";

/* Bootstrap datetimepicker */
@import "datetimepicker/css/bootstrap-datetimepicker.css";

/* Propeller datetimepicker */
@import "datetimepicker/css/pmd-datetimepicker.css";

ul{
    display:inline-block;
}
li{
    display: inline-block;
    margin-left:18px;
    margin-right:18px;
    color : gray;
}
a{
    color:white;
    text-decoration: none;
}   
td{
    color:white;
}
.footer{
    font-size: small;
    background-color: black;
    font-family: Arial;
}
.grid{
    border: 2px solid gray;
    border-radius: 10px;
    padding-top : 20px;
    padding-right:20px;
    padding-left:20px;
    padding-bottom: 0px;
}
.nav{
    margin-bottom: 10px;
    color:black;
}
footer{
    padding-top:20px;
    width:100%;
    position: fixed;
    bottom: 0;
    left:0;
}
.navlink{
    text-decoration: none;
    color:black;
    font-weight:bold;
}